name: Python application workflow

on: [push]

jobs:
  build-linux:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Install pip
      run: |
        sudo apt-get update
        sudo apt-get -y install python3-pip
        pip3 --version
        python3 --version
    - name: Installing dependencies
      run: |
        pip3 install -r gauge-selenium-python/requirements.txt
    - name: present working directory
      run: |
        echo -e "\n PRESENT WORKING DIRECTORY"
        pwd
        echo -e "\n Content in directory"
        ls
        ls gauge-selenium-python/
    - name: Run gauge test
      run: |
        gauge run gauge-selenium-python/specs
